@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: $global_size;
  width: 100%;
  margin: 0 auto;
  padding: $global_pad;
}
@media screen and (max-width: 1100px) {
  .container{
    padding: 0 60px;
  }
}
@media screen and (max-width:860px) {
  .container{
    padding: 0 20px;
  }
}
@media screen and (max-width:600px) {
  .container{
    padding: 0 5px;
  }
}