.hero{
  padding-top:160px;
  background-image: url("../../img/ZOOOV\ \(Stroke\).svg");
  background-repeat: no-repeat;
  background-position: center calc(50% - 100px);
}
.hero__inner{

}
.hero__inner h1{

}
.hero__inner p{

}
.hero__inner a{
  
}